<section class="px-[80px] 2xl:mx-auto">
  <h2 class="text-neutral-900 mt-36">
    <span class="text-gradient gradient-brand_default">
    Tech
  </span>
  products
  </h2>
  <div>
    Filters, sort and pagination
  </div>
  <ul *ngIf="products.length > 0" class="grid grid-cols-4 gap-x-6 gap-y-20">
    <li *ngFor="let product of products;">
      <div class="border border-neutral-300 rounded-lg bg-neutral-0 drop-shadow">
        <img [src]="product.img.hdUrl" [alt]="product.name" class="rounded-lg lg:pt-[44px] lg:px-[14px] lg:pb-[57px] 2xl:pt-[64px] 2xl:px-[34px] 2xl:pb-[77px]">
        <div class="lg:p-4 2xl:p-6 border-t border-neutral-300">
          <p class="p1">{{product.name}}</p>
          <p class="p2-cap text-neutral-600">{{product.category}}</p>
        </div>
      </div>
    </li>
  </ul>
</section>