<section id="products" class="2xl:container mt-[266px] px-[80px] 2xl:mx-auto">
  <h2 class="text-neutral-900">
    <span class="text-gradient gradient-brand_default"> Tech </span>
    products
  </h2>
  <products-pagination (productsEmitter)="catchProducts($event)">
    <ul *ngIf="products.length > 0" class="grid grid-cols-4 gap-x-6 gap-y-20">
      <li *ngFor="let product of products">
        <product-card [product]="product"></product-card>
      </li>
    </ul>
  </products-pagination>
</section>
