input[type="radio"] {
  display: none;
}
input[type="radio"]+label {
  @apply  bg-brand-light p1 rounded-xl relative text-center text-transparent hover:cursor-pointer;
  &:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: attr(data-before);
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    width: max-content;
    @apply gradient-brand_default p1 absolute rounded-xl select-none;
  }  
}

input[type="radio"]:checked+label {
  @apply gradient-brand_default text-neutral-100 p1 py-1 text-center rounded-xl select-none;
  &:before {
    content: "";
  }  
}