h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 80%;
  letter-spacing: 0em;
  text-transform: uppercase;

  @screen lg {
    font-size: 8rem;
  }

  @screen xl {
    font-size: 9rem;
  }

  @screen 2xl {
    font-size: 12.5rem;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 80%;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;

  @screen lg {
    font-size: 48px;
  }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0em;
  text-transform: uppercase;
  @screen lg {
    font-size: 24px;
  }
}

.p1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0em;
  @screen 2xl {
    font-size: 18px;
  }
}

.p1-cap {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 4.32px; //24%
  text-transform: uppercase;
  @screen 2xl {
    font-size: 18px;
  }
}

.p1-light {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 4.32px; //24%
  @screen 2xl {
    font-size: 18px;
  }
}

.p2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0em;
  @screen lg {
    font-size: 14px;
  }
}

.p2-cap {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  @screen lg {
    font-size: 14px;
    letter-spacing: 0em;
  }
}