<!--The content below is only a placeholder and can be replaced.-->
<div class="container grid grid-cols-2 items-center mx-auto text-neutral-900">
  <div>
    <p class="p1-cap text-neutral-600">
      Explore the
    </p>
    <h1>
      <span class="gradient-brand_default text-gradient">
        Tech
      </span>
      <br/>
      zone
    </h1>
    <p class="p1 text-neutral-600 mt-6">
      Here you’ll be able to exchange all of your hard-earned Aeropoints <br/> and exchange them for cool tech.
    </p>
    <button class="inline-flex mt-16 p1 uppercase text-neutral-0 gradient-brand_default px-10 py-[1.6rem] rounded-3xl">
      View all products <icon icon="arrow-down" class="ml-3"></icon>
    </button>

  </div>
  <div class="rounded-4xl gradient-specials_section-bg w-[29rem] h-[26rem]">
    <img src={{heroImagePath}}/>
  </div>
  <router-outlet></router-outlet>