<div class="container grid grid-cols-2 items-end mx-auto text-neutral-900 relative">
  <div>
    <p class="p1-cap text-neutral-600">
      Explore the
    </p>
    <h1>
      <span class="gradient-brand_default text-gradient">
        Tech
      </span>
      <br/>
      zone
    </h1>
    <p class="p1 text-neutral-600 mt-6">
      Here you’ll be able to exchange all of your hard-earned Aeropoints <br/> and exchange them for cool tech.
    </p>
    <button class="inline-flex mt-16 p1 uppercase text-neutral-0 gradient-brand_default px-10 py-[1.6rem] rounded-3xl">
      View all products <icon [icon]="Icons.ARROW_DOWN" class="ml-3"></icon>
    </button>
  </div>
  <!-- begin::Image -->
  <div class="flex justify-center">
    <img src={{heroImagePath}} class="mx-auto h-[795px] w-[897px]"/>
    <div class="rounded-4xl gradient-specials_section-bg w-[722px] h-[600px] absolute bottom-0 z-[-1] mx-auto">
    </div>
  </div>
  <!-- end::Image -->
</div>